
<div class="container">
    <p id="notice">
        <%= notice %>
    </p>
    <h2 class="display-4 font-weight-normal">Categories</h2>
    <div class="row">
        <% @categories.all.order(:name).each do |category| %>
        <div class="col-md-4">
            <a href="/categories/<%= category.id %>">
                <div class="card mb-4 shadow-sm category">
                    <div class="card-body">
                        <h5 class="card-text">
                            <%= category.name %>
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        <% end %>
    </div>
</div>